.money-container{
    width: 100%;
    height: 100px;
    background-color: rgb(103, 255, 110);
    display: flex;
    margin-top: 10px;
    position: sticky;
    top: 0;
}

.m1{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}